doctype 5
html(lang="pt-br")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width")
        
        title=rreplaceme

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="js/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.css")
    body
        div(data-role="page")
            div(data-role="header")
                h1 appname
                div(data-role="controlgroup", data-type="horizontal")
                    a(href="#", data-role="button", data-icon="add") Adicionar
                    a(href="#", data-role="button", data-icon="delete") Ver
            div(data-role="content")
                div.well hahahahah
            div(data-role="footer")
        script(src="js/vendor/jquery-2.0.2.min.js")
        script(src="js/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js")
        script(src="js/main.js")