doctype 5
html(lang="pt-br")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width")
        
        title=rreplaceme
        
        link(rel="stylesheet", href="css/normalize.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/jquery.mobile-1.3.1.min.css")
    body
        div(data-role="page")
            div(data-role="header")
                h1 appname
            div(data-role="content")
            div(data-role="footer")
        script(src="js/vendor/jquery-2.0.2.min.js")
        script(src="js/vendor/jquery.mobile-1.3.1.min.js")
        script(src="js/main.js")
